@import "/styles/abstracts/variables";
@import "/styles/abstracts/mixins";

.column__tab {
  margin-top: 2rem;
	margin-left: 13rem;
	// flex: 1;
	// order: -1;

  .tab__active {
    margin: 2rem 0rem;

    .tab__btn {
			@include box-shadow-primary;
			user-select: none;
			display: flex;
			gap: 0.8rem;
			justify-content: flex-start;
			align-items: center;
			background-color: $primary-clr;
			color: white;
			border-radius: 0.3rem;
			font-size: 0.8rem;
			width: 9rem;
			padding: 0.5rem 1rem 0.5rem 0.3rem;
			cursor: pointer;
			transform: translateX(10px);
			transition: transform 0.15s ease-in-out;

			.tab__img {
					display: grid;
			}
    }
  }

  .tab__inactive {
		margin: 2rem 0rem;

		.tab__btn {
			display: flex;
			gap: 0.8rem;
			justify-content: flex-start;
			align-items: center;
			color: $secondary-clr;
			font-size: 0.8rem;
			cursor: pointer;
			padding: 0.5rem 1rem 0.5rem 0.3rem;

			.tab__img {
					display: grid;
			}
		}
  }
}