@import "/styles/abstracts/variables";
@import "/styles/abstracts/mixins";

.container {
  background-color: $secondary-clr;
  color: white;
  padding: 5rem 10rem 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15rem;
  z-index: 1;
  width: 100%;

  .container__footer {
    display: flex;

    .footer__logo {
      flex: 1;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      flex-direction: column;

      .logo__links {
        display: flex;
        gap: 1rem;

        a {
          color: white;

          &:hover {
            color: $primary-clr;
          }
        }
      }
    }

    .footer__info {
      flex: 3;
      display: flex;
      gap: 3rem;

      .info__contact {
        font-style: normal;

        .contact__location {
          @include contact-info;
        }

        .contact__phone {
          @include contact-info;
        }

        .contact__mail {
          @include contact-info;

          a {
            color: white;
          }
        }
      }

      .info__support {
        .support__links {
          @include contact-links;
        }
      }

      .info__items {
        .items__list {
          @include contact-links;
        }
      }
    }
  }

  .container__copyright {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-left: 0.5rem;
    }
  }
}

// *******MEDIA QUERY*******

// Desktop
@media screen and (max-width: $desktop) {
  .container {
    padding: 5rem 7rem 2rem;
  }
}

// Tablet
@media screen and (max-width: $tablet) {
  .container {
    padding: 5rem 3rem 2rem;

    .container__footer {
      .footer__info {
        gap: 1rem;
      }
    }
  }
}

// Mobile
@media screen and (max-width: $mobile) {
  .container {
    padding: 2rem 1rem 2rem;

    .container__footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer__logo {
        justify-content: center;
        align-items: center;
      }

      .footer__info {
        margin-top: 1.5rem;

        .info__contact {
          gap: 0.5rem;
        }
      }
    }
  }
}