@import "/styles/abstracts/variables";
@import "/styles/abstracts/mixins";

.container {
    padding: 0rem 3rem;
    display: flex;
    gap: 5rem;

    .container__one {
        flex: 1;

        .column__one {
            margin-top: 5rem;
            margin-left: 8rem;

            .row__one {
                .desc {
                    color: $primary-clr;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }

                h1 {
                    color: $primary-clr;
                    font-size: 7rem;
                    padding-left: 2rem;
                    font-family: $font-family-secondary;
                    margin-bottom: -3rem;
                    letter-spacing: -0.5rem;
                }

                .info {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }

            .row__two {
                display: flex;
                margin-top: 3rem;

                button {
                    @include button-style;
                    position: relative;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        height: 0;
                        width: 0;
                        border-style: solid;
                        border-width: 0;
                    }

                &.btn__cart {
                        background-color: $primary-clr;
                        border-color: $primary-clr;
                        border-top-right-radius: 0rem;

                        &::after, &::before {
                            border-width: 0 0 2.4rem 1.7rem;
                            top: 0;
                        }

                        &::before {
                            border-color: transparent;
                        }

                        &:after {
                            right: 0px;
                            border-color: white transparent;
                        }
                    }

                    &.btn__book {
                        background-color: $secondary-clr;
                        border-color: $secondary-clr;
                        border-bottom-left-radius: 0rem;

                        &::after, &::before {
                            border-width: 2.3rem 1.7rem 0 0;
                            top: 0;
                        }

                        &::before {
                            left: 0px;
                            top: 0px;
                            border-color: white transparent;
                        }

                        &:after {
                            border-color: transparent;
                        }
                    }
                }
            }

            .row__three {
                display: flex;
                gap: 2.5rem;
                margin-top: 4rem;

                .lunch, .dinner {
                    span {
                        @include span-clr;
                    }
                }
            }
        }
    }

    .container__two {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5rem;

        .column__two {
            position: relative;
            
            .price {
                position: absolute;
                top: 5rem;
                left: -4rem;
                z-index: 15;
                color: $tertiary-clr;
                font-size: 4rem;
                font-weight: 600;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                opacity: 0.3;
            }

            .img__top {
                z-index: 10;
                position: absolute;
                top: 10rem;
            }

            .img_bottom {
                z-index: 1;
                position: absolute;
            }
        }
    }
}

//*********MEDIA QUERY*********

// Desktop
@media screen and (max-width: $desktop) {
    .container {
        .container__one {
            .column__one {
                margin-top: 5rem;
                margin-left: 2rem;

                .row__three {
                    gap: 2rem;
                }
            }
        }

        .container__two {
            margin-right: 2rem;

            .column__two {
                .price {
                    top: 5rem;
                    left: -2rem;
                }

                .img__top {
                    top: 5rem;
                }
            }
        }
    }
}

// Tablet
@media screen and (max-width: $tablet) {
    .container {
        padding: 0rem 1rem;

        .container__one {
            flex: 1;

            .column__one {
                margin-left: 1rem;

                .row__one {
                    h1 {
                        font-size: 5rem;
                        margin-bottom: -2rem;
                    }
                }

                .row__two {
                    margin-top: 3rem;

                    button {
                        padding: 0.5rem 1.2rem;
                    }
                }

                .row__three {
                    margin-top: 3rem;
                    gap: 1rem;

                    .lunch, .dinner {
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .container__two {
            flex: 1;
            margin-right: 0rem;

            .column__two {
                .price {
                    top: 7rem;
                    font-size: 2rem;
                }

                .img__top {

                }

                .img__bottom {
                    // width: 22rem;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile) {
    .container {
        flex-direction: column-reverse;

        .container__one {
            .column__one {
                margin-top: 1rem;

                .row__one {
                    h1 {
                        margin-top: -1rem;
                    }
                }

                .row__two {
                    margin-top: 1rem;

                    button {
                        padding: 0.5rem 2rem
                    }
                }

                .row__three {
                    margin-top: 1rem;
                }
            }
        }
    }
}