@import "/styles/abstracts/variables";

// lunch and dinner time
@mixin span-clr {
    color: $tertiary-clr;
}

// Header container
@mixin container-header-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 1rem;
}

// Subheader title
@mixin subheader-style {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: black;
}

// Header title
@mixin header-style {
    color: $primary-clr;
    font-family: $font-family-secondary;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

// Header title in mobile screens
@mixin header-title-mobile {
    font-size: 3rem;
    line-height: 1;
}

// Header image in mobile screens
@mixin header-image-mobile {
    margin-right: -18rem;
}

// Popular Products Section Button's style
@mixin button-style {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.6rem 2rem;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: block;
    border-width: 0;
    border-radius: 0.3rem;
    text-align: center;

    &:hover {
        transform: translateY(-1px);        
    }

    &:active {
        transform: translateY(1px);
    }
}

// Image drop-shadow of products
@mixin products-image {
    & > span {
        filter:
            drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
            drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481))
            drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185))
            drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035))
            drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815))
            drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
    }
}

// Heart and Cart icons
@mixin icon {
    height: 1.2rem;
    width: 1.2rem;
    display: grid;
    place-content: center;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
}

// Common Button's box-shadow
@mixin box-shadow-prop {
    box-shadow:
    0px 100px 80px rgba(234, 0, 37, 0.1),
    0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
    0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
    0px 20px 13px rgba(234, 0, 37, 0.05),
    0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
    0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
}