//*********MEDIA QUERIES*********
// 320px - 480px for mobile devices
$mobile: 480px;
// 481px - 768px for tablet devices
$tablet: 768px;
// 769px - 1024px for desktop devices
$desktop: 1024px;
// 1025px - 1200px for large desktop devices
$largeDesktop: 1600px;
// 1201px - 1600px for xlarge desktop devices

//*********COLORS*********
// Primary Colors
$primary-clr: #EA0000;
$secondary-clr: #2A333E;