@import "/styles/abstracts/variables";
@import "/styles/abstracts/mixins";

.column__tab {
	flex: 1;
	order: -1;
	text-align: center;

  .tab__active {
		margin: 2rem 0rem;

    .tab__btn {
			@include box-shadow-primary;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 0.8rem;
			background-color: $primary-clr;
			color: white;
			border-radius: 0.5rem;
			font-size: 0.8rem;
			padding: 0.5rem 1rem 0.5rem 0.3rem;
			transform: translateX(10px);
			transition: transform 0.25s ease-in-out;
			cursor: pointer;
			user-select: none;

			.tab__img {
				display: flex;
				justify-content: center;
				align-items: center;
			}
    }
  }

  .tab__inactive {
		margin: 2rem 0rem;

		.tab__btn {
			display: flex;
			gap: 0.8rem;
			justify-content: flex-start;
			align-items: center;
			color: $secondary-clr;
			font-size: 0.8rem;
			cursor: pointer;
			padding: 0.5rem 1rem 0.5rem 0.3rem;

			.tab__img {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
  }
}

//********MEDIA QUERY********

// Tablet
@media screen and (max-width: $tablet) {
  .column__tab {
		.tab__active {
			margin: 1rem 0rem;
		}

		.tab__inactive {
			margin: 1rem 0rem;
		}
	}
}

// Mobile
@media screen and (max-width: $mobile) {
	.column__tab {
		display: flex;
		margin-bottom: -2rem;

		.tab__active {
			margin: 1rem 0rem;

			.tab__btn {
				transform: translateY(5px);
				padding: 0.5rem 1rem;

				.tab__img {
					display: none;
				}
			}
		}

		.tab__inactive {
			margin: 1rem 0rem;
		}
	}
}