@import "/styles/abstracts/variables";
@import "/styles/abstracts/mixins";

.container {
    margin: 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .container__img {
        position: absolute;
        top: 5rem;
        left: 0;
    }

    .container__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            font-size: 0.8rem;
            text-transform: uppercase;
            color: black;
        }

        h1 {
            color: $primary-clr;
            font-family: $font-family-secondary;
            font-size: 4rem;
            line-height: 1.2;
        }

        .header__img {
            margin-left: -12rem;
            filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
        }
    }

    .container__products {
        display: flex;
        gap: 3rem;
        margin-top: 3rem;

        .products__list {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            text-align: center;
            align-items: center;
            min-width: 12rem;

            .list__star {
                color: $primary-clr;
                font-size: 1.2rem;
            }

            .list__btn {
                user-select: none;
                cursor: pointer;
                margin-top: 1rem;
                text-align: center;
                font-size: 0.9rem;
                background-color: $primary-clr;
                color: white;
                border-radius: 0.3rem;
                width: 10rem;
                padding: 0.5rem 1rem;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

// *********MEDIA QUERY*********

// Desktop
@media screen and (max-width: $desktop) {
    .container {
        .container__products {
            gap: 1rem;
        }
    }
}

// Tablet
@media screen and (max-width: $tablet) {
    .container {
        .container__products {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile) {
    .container {
        .container__header {
            .header__img {
                margin-left: -8rem;
            }
        }
    }
}