@import "/styles/abstracts/variables";
@import "/styles/abstracts/mixins";

.container {
  position: absolute;
  bottom: 20rem;
  z-index: 99;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0rem 18rem;

  .container__block {
    border: 1px solid $primary-clr;
    border-radius: 3rem;
    padding: 2rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $secondary-clr;
    background-color: white;

    h3 {
      line-height: 0.5;
    }

    .block__img {
      margin-right: -7rem;
    }

    p {
      font-size: 0.8rem;
      font-weight: 600;
    }

    .block__input {
      margin-top: 1rem;
      border: 1px solid $primary-clr;
      border-radius: 1.5rem;
      padding: 0.3rem;
      
      input {
        outline: none;
        border: none;
        padding: 0rem 1rem;
        color: $secondary-clr;
      }

      button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: $primary-clr;
        color: white;
        border-radius: 1.5rem;
        font-size: 0.8rem;

        &:hover {
          color: $secondary-clr;
        }
      }
    }
  }
}

// ******MEDIA QUERY*******
// Desktop
@media screen and (max-width: $desktop) {
  .container {
    bottom: 22rem;
    padding: 0rem 10rem;

    .container__block {
      padding: 2rem 9rem;
    }
  }
}

// Between 940px to 768px
@media screen and (max-width: 940px) and (min-width: 768px) {
  .container {
    bottom: 25rem;
    padding: 0rem 5rem;
  }
}

// Tablet
@media screen and (max-width: $tablet) {
  .container {
    bottom: 22rem;

    .container__block {
      padding: 2rem 7rem;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile) {
  .container {
    bottom: 33rem;
    padding: 0rem 1rem;

    .container__block {
      padding: 1rem;

      h3 {
        line-height: 0.8;
      }
    }
  }
}

// Less than 375px
@media screen and (max-width: 375px) {
  .container {
    .container__block {
      padding: 1.5rem 0.5rem;
    }
  }
}