.container {
    margin-top: 10rem;

    .container__img {
        display: flex;
        justify-content: flex-end;
        margin-right: 15rem;
    }

    .container__column {
        position: relative;
    }
}